<div class="jumbotron text-center">
   <h1>Fantasy Politics</h1>
</div>

<br />

<div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Nevada Picks</h3>

        <table id="picksTable"
               class="table table-bordered table-condensed table-striped">
          <thead>
            <tr>
              <th>User Name</th>
              <th style="color:gold">First Place</th>
              <th style="color:silver">Second Place</th>
              <th>Delete</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
</div>

<br />
<br />
<br />

<div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            Make Your Picks
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="userName">
                User Name
              </label>
              <input type="text"
                     class="form-control"
                     placeholder="Joe Schmo"
                     id="userName" />
              <small class="text-muted">This is where you put YOUR first AND last name.</small>

            </div>

             <div class="form-group">
               <label for="firstPlace">
                 First Place
               </label>
               <input type="text"
                      class="form-control"
                      placeholder="Grover Cleveland"
                      id="firstPlace" />
               <small class="text-muted">This is where you put your first place pick. Please use first and last names for both candidates.</small>

             </div>

            <div class="form-group">
              <label for="secondPlace">
                Second Place
              </label>
              <input type="text"
                     class="form-control"
                     placeholder="Calvin Coolidge"
                     id="secondPlace" />
              <small class="text-muted">This is where you put your second place pick. I'm going to try to make it cooler later.</small>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-12">
                <button type="button" id="updateButton"
                        class="btn btn-success"
                        onclick="picksUpdate();">
                  Add Picks
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
    // Next id for adding a new Product
    var nextId = 1;
    // ID of Product currently editing
    var activeId = 0;

    function picksDisplay(ctl) {
      var row = $(ctl).parents("tr");
      var cols = row.children("td");

      activeId = $($(cols[0]).children("button")[0]).data("id");
      $("#userName").val($(cols[1]).text());
      $("#firstPlace").val($(cols[2]).text());
      $("#secondPlace").val($(cols[3]).text());

      // Change Update Button Text
      $("#updateButton").text("Update");
    }

    function picksUpdate() {
      if ($("#updateButton").text() == "Update") {
        picksUpdateInTable(activeId);
      }
      else {
        picksAddToTable();
      }

      // Clear form fields
      formClear();

      // Focus to product name field
      $("#userName").focus();
    }

    // Add product to <table>
    function picksAddToTable() {
      // First check if a <tbody> tag exists, add one if not
      if ($("#picksTable tbody").length == 0) {
        $("#picksTable").append("<tbody></tbody>");
      }

      // Append product to table
      $("#picksTable tbody").append(
        picksBuildTableRow(nextId));

      // Increment next ID to use
      nextId += 1;
    }

    // Update product in <table>
    function picksUpdateInTable(id) {
      // Find Product in <table>
      var row = $("#picksTable button[data-id='" + id + "']")
                .parents("tr")[0];

      // Add changed product to table
      $(row).after(picksBuildTableRow(id));
      // Remove original product
      $(row).remove();

      // Clear form fields
      formClear();

      // Change Update Button Text
      $("#updateButton").text("Add");
    }

    // Build a <table> row of Product data
    function picksBuildTableRow(id) {
      var ret =
      "<tr>" +
        "</td>" +
        "<td>" + $("#userName").val() + "</td>" +
        "<td>" + $("#firstPlace").val() + "</td>" +
        "<td>" + $("#secondPlace").val() + "</td>" +
        "<td>" +
          "<button type='button' " +
                  "onclick='productDelete(this);' " +
                  "class='btn btn-danger' " +
                  "data-id='" + id + "'>" +
                  "<span class='glyphicon glyphicon-remove' />" +
          "</button>" +
        "</td>" +
      "</tr>"

      return ret;
    }

    // Delete product from <table>
    function productDelete(ctl) {
      $(ctl).parents("tr").remove();
    }

    // Clear form fields
    function formClear() {
      $("#userName").val("");
      $("#firstPlace").val("");
      $("#secondPlace").val("");
    }
  </script>
