<div class="jumbotron text-center">
   <h1>Fantasy Politics</h1>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>South Carolina</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <table id="picksTable" class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th>NAME</th>
            <th>GOP</th>
            <th>Democrats</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

</div>
