<div id="resultsHead" class="text-center well well-sm">
   <h2>GOP Primary Results</h2>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table id="picksTable" class="table table-bordered table-condensed table-striped">
        <thead>
          <!-- Column labels -->
          <tr>
            <th style="color: ">Priamry/Caucus</th>
            <th>Adam's Picks</th>
            <th>Justin's Picks</th>
            <th>Tommy's Picks</th>
            <th>Zac's Picks</th>
            <th style="color: red">Results</th>
            <th style="color: gold">POINTS AWARDED</th>
          </tr>



          <!-- Iowa Caucus -->
          <tr>
            <!-- Primary Name -->
            <td class="text-center">Iowa Caucus</td>
            <!-- Adam's Picks -->
            <td>
               1. Donald Trump
               <br />
               2. Ted Cruz
            </td>
            <!-- Justin's Picks -->
            <td>
               1. Donald Trump
               <br />
               2. Ted Cruz
            </td>
            <!-- Tommy's Picks -->
            <td>
               1. Rand Paul
               <br />
               2. Ted Cruz
            </td>
            <!-- Zac's Picks -->
            <td>
               1. Ted Cruz
               <br />
               2. Donald Trump
            </td>
            <!-- Results -->
            <td>
               1. Ted Cruz: 27.6% & 8 Delegates
               <br />
               2. Donald Trump: 24.3% & 7 Delegates
            </td>
            <!-- Points Awarded -->
            <td>
               Adam:
               <br />
               Justin:
               <br />
               Tommy:
               <br />
               Zac: 

            </td>

          </tr>



          <!-- New Hampshire Primary -->
          <tr>
            <!-- Primary Name -->
            <td class="text-center">New Hampshire Primary</td>
            <!-- Adam's Picks -->
            <td>
               1. Donald Trump
               <br />
               2. Marco Rubio
            </td>
            <!-- Justin's Picks -->
            <td>
               1. Donald Trump
               <br />
               2. Marco Rubio
            </td>
            <!-- Tommy's Picks -->
            <td>
               1. Donald Trump
               <br />
               2. Marco Rubio
            </td>
            <!-- Zac's Picks -->
            <td>
               1. Donald Trump
               <br />
               2. Ted Cruz
            </td>
            <!-- Results -->
            <td>
               1. Donald Trump: 35.3% & 10 Delegates
               <br />
               2. John Kasich: 15.8% & 4 Delegates
            </td>
            <!-- Points Awarded -->
            <td>
               Adam:
               <br />
               Justin:
               <br />
               Tommy:
               <br />
               Zac:

            </td>
          </tr>



          <!-- South Carolina Primary -->
          <tr>
            <!-- Primary Name -->
            <td class="text-center">South Carolina Primary</td>
            <!-- Adam's Picks -->
            <td>
               1. Donald Trump
               <br />
               2. Ted Cruz
            </td>
            <!-- Justin's Picks -->
            <td>
               1. Donald Trump
               <br />
               2. Ted Cruz
            </td>
            <!-- Tommy's Picks -->
            <td>
               1. Rand Paul
               <br />
               2. Ted Cruz
            </td>
            <!-- Zac's Picks -->
            <td>
               1. Ted Cruz
               <br />
               2. Donald Trump
            </td>
            <!-- Results -->
            <td>
               1. Ted Cruz: 27.6% & 8 Delegates
               <br />
               2. Donald Trump: 24.3% & 7 Delegates
            </td>
            <!-- Points Awarded -->
            <td>
               Adam:
               <br />
               Justin:
               <br />
               Tommy:
               <br />
               Zac:

            </td>
          </tr>



          <!-- Nevada Primary -->
          <tr>
            <!-- Primary Name -->
            <td class="text-center">Nevada Primary</td>
            <!-- Adam's Picks -->
            <td>
               1. Donald Trump
               <br />
               2. Ted Cruz
            </td>
            <!-- Justin's Picks -->
            <td>
               1. Donald Trump
               <br />
               2. Ted Cruz
            </td>
            <!-- Tommy's Picks -->
            <td>
               1. Rand Paul
               <br />
               2. Ted Cruz
            </td>
            <!-- Zac's Picks -->
            <td>
               1. Ted Cruz
               <br />
               2. Donald Trump
            </td>
            <!-- Results -->
            <td>
               1. Ted Cruz: 27.6% & 8 Delegates
               <br />
               2. Donald Trump: 24.3% & 7 Delegates
            </td>
            <!-- Points Awarded -->
            <td>
               Adam:
               <br />
               Justin:
               <br />
               Tommy:
               <br />
               Zac:

            </td>
          </tr>



        </thead>
      </table>
    </div>
  </div>

</div>
